<body>
      
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><span class="text-warning">Team</span>GI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" *ngIf="authService.roles=='ADMIN'" routerLink="/admin">Admin Panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/work">Work</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/break">Break</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/humor">Humor</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li>
              <button (click)="handleLogout()" class="btn btn-success">Logout</button>
            </li>        
          </ul>
        </div>
      </div>
    </nav>
       
       
       
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.callcentrehelper.com/images/stories/2019/02/digital-wave-stuff-760.png" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>Your Dream App</h5>
                            <p>Optimize your company's productivity with our time tracking web application, allowing your employees to enter their working hours, breaks and even express their mood anonymously.</p>
                            <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- about section starts -->
    <section id="about" class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="https://cdn-icggj.nitrocdn.com/AphBmykuaGyxZijWArNhxcCiPzVdYZGT/assets/images/optimized/rev-ccf1c0c/thriveagency.com/wp-content/themes/thrive-agency/images/digital-marketing-service-image-2.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                          <h2>We Provide the Best Quality <br/> Services Ever</h2>
                          <p>Enhance your company's efficiency with our time tracking web application, enabling your team to input their work hours, breaks, and share their mood anonymously</p>
                          <a href="#" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section Ends -->
    <!-- services section Starts -->
    <section class="services section-padding" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Services</h2>
                        <p>Optimize your company's productivity with our time tracking web application<br>allowing your employees to enter their working hours, breaks and even express their mood anonymously </p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-white text-center bg-dark pb-2">
                      <div class="card-body">
                          <i class="bi bi-laptop"></i>
                          <h3 class="card-title">Best Quality</h3>
                          <p class="lead">Optimize your company's productivity with our time tracking web application, allowing your employees to enter their working hours, breaks and even express their mood anonymously</p>
                          <button class="btn bg-warning text-dark">Read More</button>
                      </div>
                  </div>
              </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                          <i class="bi bi-journal"></i>
                            <h3 class="card-title">Sustainability</h3>
                            <p class="lead">Optimize your company's productivity with our time tracking web application, allowing your employees to enter their working hours, breaks and even express their mood anonymously</p>
                            <button class="btn bg-warning text-dark">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                          <i class="bi bi-intersect"></i>
                            <h3 class="card-title">Integrity</h3>
                            <p class="lead">Optimize your company's productivity with our time tracking web application, allowing your employees to enter their working hours, breaks and even express their mood anonymously</p>
                            <button class="btn bg-warning text-dark">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section Ends -->

    <!-- portfolio strats -->
    <section id="portfolio" class="portfolio section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-header text-center pb-5">
                      <h2>Our Projects</h2>
                      <p>Optimize your company's productivity with our time tracking web application <br>allowing your employees to enter their working hours, breaks and even express their mood anonymously </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-light text-center bg-white pb-2">
                      <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="img/project-1.jpg" class="img-fluid" alt="">
                        </div>
                          <h3 class="card-title">Building Make</h3>
                          <p class="lead">Optimize your company's productivity with our time tracking web application</p>
                          <button class="btn bg-warning text-dark">Learn More</button>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-light text-center bg-white pb-2">
                      <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="img/project-2.jpg" class="img-fluid" alt="">
                        </div>
                          <h3 class="card-title">Building Make</h3>
                          <p class="lead">Optimize your company's productivity with our time tracking web application</p>
                          <button class="btn bg-warning text-dark">learn More</button>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-light text-center bg-white pb-2">
                      <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="img/project-3.jpg" class="img-fluid" alt="">
                        </div>
                          <h3 class="card-title">Building Make</h3>
                          <p class="lead">Optimize your company's productivity with our time tracking web application</p>
                          <button class="btn bg-warning text-dark">Learn More</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- portfolio ends -->
    <!-- team starts -->
    <section class="team section-padding" id="team">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-header text-center pb-5">
                      <h2>Our Team</h2>
                      <p>Optimize your company's productivity with our time tracking web application <br>allowing your employees to enter their working hours, breaks and even express their mood anonymously </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="card text-center">
                      <div class="card-body">
                          <img src="img/team-1.jpg" alt="" class="img-fluid rounded-circle">
                          <h3 class="card-title py-2">ABIDI YOUSSEF </h3>
                          <p class="card-text">Optimize your company's productivity with our time tracking web application</p>
                      

                      <p class="socials">
                          <i class="bi bi-twitter text-dark mx-1"></i>
                      <i class="bi bi-facebook text-dark mx-1"></i>
                      <i class="bi bi-linkedin text-dark mx-1"></i>
                      <i class="bi bi-instagram text-dark mx-1"></i>
                      </p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="card text-center">
                      <div class="card-body">
                          <img src="img/team-2.jpg" alt="" class="img-fluid rounded-circle">
                          <h3 class="card-title py-2">ABKADRI AMINE</h3>
                          <p class="card-text">Optimize your company's productivity with our time tracking web application</p>
                      <p class="socials">
                          <i class="bi bi-twitter text-dark mx-1"></i>
                      <i class="bi bi-facebook text-dark mx-1"></i>
                      <i class="bi bi-linkedin text-dark mx-1"></i>
                      <i class="bi bi-instagram text-dark mx-1"></i>
                      </p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="card text-center">
                      <div class="card-body">
                          <img src="img/team-3.jpg" alt="" class="img-fluid rounded-circle">
                      <h3 class="card-title py-2">EL MESSBAHI YOUSSEF</h3>
                      <p class="card-text">Optimize your company's productivity with our time tracking web application</p>
                      <p class="socials">
                          <i class="bi bi-twitter text-dark mx-1"></i>
                      <i class="bi bi-facebook text-dark mx-1"></i>
                      <i class="bi bi-linkedin text-dark mx-1"></i>
                      <i class="bi bi-instagram text-dark mx-1"></i>
                      </p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="card text-center">
                      <div class="card-body">
                          <img src="img/team-4.jpg" alt="" class="img-fluid rounded-circle">
                      <h3 class="card-title py-2">ZAIDI MOUAD</h3>
                      <p class="card-text">Optimize your company's productivity with our time tracking web application</p>
                      <p class="socials">
                          <i class="bi bi-twitter text-dark mx-1"></i>
                      <i class="bi bi-facebook text-dark mx-1"></i>
                      <i class="bi bi-linkedin text-dark mx-1"></i>
                      <i class="bi bi-instagram text-dark mx-1"></i>
                      </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!-- team ends -->
    <!-- Contact starts -->
    <section id="contact" class="contact section-padding">
      <div class="container mt-5 mb-5">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-header text-center pb-5">
                      <h2>Contact Us</h2>
                      <p>Optimize your company's productivity with our time tracking web application, allowing your employees to enter their working hours, breaks and even express their mood anonymously <br>adipisicing elit. Non, quo.</p>
                  </div>
              </div>
          </div>
    <div class="row m-0">
      <div class="col-md-12 p-0 pt-4 pb-4">
        <form action="#" class="bg-light p-4 m-auto">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <input class="form-control" placeholder="Full Name" required="" type="text">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input class="form-control" placeholder="Email" required="" type="email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <textarea class="form-control" placeholder="Message" required="" rows="3"></textarea>
              </div>
            </div><button class="btn btn-warning btn-lg btn-block mt-3" type="button">Send Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    </section>
    <!-- contact ends -->
    <!-- footer starts -->
    <footer class="bg-dark p-2 text-center">
        <div class="container">
            <p class="text-white">All Right Reserved By @TimeManagement</p>
        </div>
    </footer>
    <!-- footer ends -->








  
  
  <!-- All Js -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>





<!--for getting the form download the code from download button-->